<?xml version="1.0" encoding="utf-8"?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="Medidata.Interfaces.Localization.ILocalization, Medidata.Interfaces"
              mapTo="Medidata.Rave.Tsdv.Loader.Sample.Localization, Medidata.Rave.Tsdv.Loader.Sample" />
  </container>
</unity>